rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /app_metadata/stats {
      allow read: if true;
      allow write: if true;
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && request.auth.token.email == "sitimulyati.alfatih@gmail.com";
    }
    match /attendance/{documentId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid;
    }
    match /grades/{documentId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid;
    }
    match /agendas/{documentId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid;
    }
    match /bimbingan/{documentId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid;
    }
    match /teacher_journals/{documentId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid || request.resource.data.userId == request.auth.uid;
    }
  }
}
